.snakemake
.snakemake-workflow-catalog.yml
results
workflow/envs/snakemake
workflow/envs/clonevol
workflow/envs/pyclone-vi
logs
config/T-3000.input.tsv
config/T-3001.input.tsv
config/T-3002.input.tsv
*__pycache__